@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: amarga;
  src: url(../../public/Fonts/amarga.otf);
}
@font-face {
  font-family: lostar;
  src: url(../../public/Fonts/lostar.otf);
}
@font-face {
  font-family: refrankt;
  src: url(../../public/Fonts/refrankt.otf);
}
@font-face {
  font-family: spacemonoBI;
  src: url(../../public/Fonts/spacemonoBI.ttf);
}
@font-face {
  font-family: spacemonoB;
  src: url(../../public/Fonts/spacemonoB.ttf);
}
@font-face {
  font-family: spacemonoR;
  src: url(../../public/Fonts/spacemonoR.ttf);
}
@font-face {
  font-family: spacemonoI;
  src: url(../../public/Fonts/spacemonoI.ttf);
}

body {
  /*
    FOR THE GRADIENT!
  :root{
  --foreground-rgb: 0, 0, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0; 
  }
  */
  /*
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .resumeSection {
    @apply font-spmR lg:mb-5 ;
  }

  .resumeSectionTitle {
    @apply lg:text-2xl text-xl font-bold mb-4 dark:text-sl-100 text-orange-600;
  }

  .resumeItem {
    @apply py-4 pr-8;
  }

  .resumeContentTitle {
    @apply lg:text-2xl text-xl font-bold mb-4;
  }

  .resumeContent {
    @apply text-base mb-4  ;
  }

  .resumePoint {
    @apply text-lg ml-auto ;
  }
  .navlink{
    @apply dark:hover:bg-dPurp-500 p-2 px-3 rounded-lg dark:hover:text-beige-300 hover:text-orange-700 hover:bg-beige-100 text-lg md:text-xl transition-all;
  }
  hr{
    @apply dark:border-beige-300 border-black opacity-30;
  }
}